<div class="footer2">
    <div class="container2">
      <div class="row2">
        <div class="col-3">
          <!-- Logo and slogan -->
          <img src="/images/logo.png" alt="Logo" class="logo2">
          <p class="slogan2">Discover the best local businesses in your area</p>
        </div>
        <div class="col-3">
          <!-- Links to important pages -->
          <h4 class="title2">Quick Links</h4>
          <ul class="links2">
            <li><a href="/userPage">Home Page</a></li>
            <li><a href="/userPage#about">About Us</a></li>
            <li><a href="/userPage/businesses">Search Business</a></li>
            <li><a href="/userPage/add-business">Add Business</a></li>
            <li><a href="/">Sign Out</a></li>
          </ul>
        </div>
        <div class="col-3">
          <!-- Contact information and map -->
          <h4 class="title2">Contact Us</h4>
          <p class="contact2"><i class="fas fa-phone"></i> +389 78 895 007</p>
          <p class="contact2"><i class="fas fa-envelope"></i> strugo@gmail.com</p>
          <p class="contact2"><i class="fas fa-map-marker-alt"></i> Struga</p>
          <img src="https://maps.googleapis.com/maps/api/staticmap?center=Struga,North Macedonia&zoom=17&size=600x300&key=AIzaSyCJ0ebPsS3K7de_Xg2-Bgj1zjAaK_cwe9g" alt="Map of Struga" alt="Map" class="map2">
        </div>
      </div>
      <div class="row2">
        <div class="col-12">
          <!-- Copyrigth notice and terms of service -->
          <p class="copyrigth2">&copy; 2023 StruGO. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <script>
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>

</body>
</html>