<%- include('./partials/business_header')  %>






    <div class="business-container">
        <h1>No results found for "<%= searchTerm %>"</h1>
        <div class="image-container">
            <img src="/images/noResults.png" alt="Description of the image">
          </div>
    </div>


   


<%- include('./partials/business_footer')  %>
